<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .tui-image-editor-header-logo {
            display: none;
        }
    </style>
</head>
<body>
    <div class="tab-content iframe">
        <iframe class="tab-content iframe" frameborder="0" width="1024px" height="800"
          src="https://nhn.github.io/tui.image-editor/latest/examples/example01-includeUi.html"></iframe>
      </div>
</body>
</html> 